*~
.netrwhist

fish_variables
fish/.config/fish/functions/
fish/.config/fish/completions/
fish/.config/fish/conf.d/

mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/playlists/
mpd/.config/mpd/state

*.pyc
__init__.py

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged

vim/.vim/sessions/

qutebrowser/.config/qutebrowser/qsettings/
