@import url("/home/stinjul/.cache/wal/waybar_style.css");

* {
    font-family: Iosevka;
    font-size: 13px;
    border-radius: 0;
}

window#waybar {
    background-color: @background;
    /* border-bottom: 3px solid @color3; */
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px @color11;
}

#workspaces button.urgent {
    box-shadow: inset 0 -3px @color9;
}

#mode {
    background-color: @color3;
    border-bottom: 3px solid @color11;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#sway-language
#mpd {
    padding: 0 10px;
    /*color: #ffffff;*/
}

#tray menu {
    color: @foreground;
    background-color: @background;
    border: 3px solid @color3;
}

#tray menu menuitem:hover {
    background-color: @color1;
}

#tray menu separator {
    background-color: @color3;
}

tooltip {
    background-color: @background;
    border: 3px solid @color3;
}

tooltip label {
    color: @foreground;
}

#idle_inhibitor.activated {
    background-color: @color3;
    border-bottom: 3px solid @color11;
}

#window,
#workspaces {
    margin: 0 4px;
}

#keyboard-state label {
    margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
