#include ".Xresources.d/colors-main2"

Urxvt.font:     xft:IosevkaNerdFontMono:pixelsize=14,\
        xft:DejavuSansMono:pixelsize=14,\
        xft:Monospace:pixelsize=14

Xft.dpi:    96
Xft.antialias:  1
Xft.autohint:   1
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcdlight
Xft.rgba:   rgb



URxvt.termName:     rxvt-256color
URxvt.depth:        32
URxvt.linesize:     0
URxvt.iso14755:     false
URxvt.iso14755_52:  false
URxvt.geometry:     65x17
URxvt.scrollBar:    false
URxvt.loginShell:   true
URxvt.internalBorder:   3
URxvt.perl-ext:
URxvt.matcher.button:   1



xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-13-*-*-*-*-*-*-*

!dialog text
xscreensaver.Dialog.heading:            

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         V_color3
xscreensaver.Dialog.background:         V_background
xscreensaver.Dialog.topShadowColor:     V_background
xscreensaver.Dialog.bottomShadowColor:  V_background
xscreensaver.Dialog.Button.foreground:  V_background
xscreensaver.Dialog.Button.background:  V_foreground

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    V_color0
xscreensaver.Dialog.text.background:    V_foreground
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  V_color3
xscreensaver.passwd.thermometer.background:  V_background
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y



! termColors
*.foreground:   V_foreground
*.background:   V_background
*.cursorColor:  V_color7

! black
*.color0:   V_color0
*.color8:   V_color8

! red
*.color1:   V_color1
*.color9:   V_color9

! green
*.color2:   V_color2
*.color10:  V_color10

! yellow
*.color3:   V_color3
*.color11:  V_color11

! blue
*.color4:   V_color4
*.color12:  V_color12

! magenta
*.color5:   V_color5
*.color13:  V_color13

! cyan
*.color6:   V_color6
*.color14:  V_color14

! white
*.color7:   V_color7
*.color15:  V_color15
