#include ".Xresources.d/colors-main2"

*.font:		xft:IosevkaNerdFontMono:pixelsize=14,\
		xft:DejavuSansMono:pixelsize=14,\
		xft:Monospace:pixelsize=14

Xft.dpi:	96
Xft.antialias:	1
Xft.autohint:	1
Xft.hinting:	1
Xft.hintstyle:	hintslight
Xft.lcdfilter:	lcdlight
Xft.rgba:	rgb

URxvt*termName:		rxvt-256color
URxvt.depth:		32
URxvt.linesize:		-1
URxvt.iso14755:		false
URxvt.iso14755_52:	false
URxvt*geometry:		65x17
URxvt.scrollBar:	false
URxvt*loginShell:	true
URxvt.internalBorder:	25
URxvt.perl-ext:
URxvt.url-launcher:	chromium
URxvt.matcher.button:	1

rofi.color-enabled:	true
rofi.color-window:	V_background,	V_color3,	V_color3
rofi.color-normal:	V_background,	V_foreground,	V_color3,	V_color9,	V_foreground
rofi.color-active:	V_background,	V_color1,	V_color3,	V_color1,	V_foreground
rofi.color-urgent:	V_background,	V_color9,	V_color3,	V_color9,	V_foreground
rofi.width:		800
rofi.padding:		50
rofi.font:		Iosevka Nerd Font Mono 18
rofi.bw:		3
rofi.seperator-style:	solid
rofi.hide-scrollbar:	true


! termColors
*.foreground:	V_foreground
*.background:	V_background
*.cursorColor:	V_color7

! black
*.color0:	V_color0
*.color8:	V_color8

! red
*.color1:	V_color1
*.color9:	V_color9

! green
*.color2:	V_color2
*.color10:	V_color10

! yellow
*.color3:	V_color3
*.color11:	V_color11

! blue
*.color4:	V_color4
*.color12:	V_color12

! magenta
*.color5:	V_color5
*.color13:	V_color13

! cyan
*.color6:	V_color6
*.color14:	V_color14

! white
*.color7:	V_color7
*.color15:	V_color15
